<h1>Welcome to the BOG!</h1>

<p>Mwa ha ha ha ha ha!</p>

<p>We have horrors here. Document them if you dare! Bwa hahahahahah!</p>

<%= link_to "Enter to BOG", creatures_path, :class => "btn btn-primary" %>