<h1>All Tags</h1>

<% @tags.each do |t| %>
  <li><%= link_to t.name, t %> - <%= link_to "Remove Tag", t, :method => "delete", :class => "btn btn-primary"  %></li>
<% end %>

<%= link_to "Add new tag", new_tag_path, :class => "btn btn-primary" %>